html,
body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  position: relative;
}

a {
  width: auto;
  font-weight: 500;
  font-size: 14px;
  color: inherit;
  position: relative;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &.lined:after {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: $secondary;
  }
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-image-top {
  background-size: cover;
  background-position: top;
}

.hidden {
  display: none;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
}
