<template>
  <div id="sign-in">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-4">
        <form @submit.revernt="signIn">
          <div class="form-group">
            <label for="email">Email</label>
            <input v-model="form.email" v-validate="'required|email'" id="email" type="email" name="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input v-model="form.password" v-validate="'required'" id="password" type="password" name="password">
          </div>
          <button type="submit">
            continue
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'SignIn',
    data() {
      return {
        form: {
          email: '',
          password: ''
        }
      }
    },
    methods: {
      signIn() {
        this.$validator.validateAll().then((isValid) => {
          if (isValid) {
            this.$store.dispatch('user/signIn', this.form)
          } else {
            console.error('invalid form')
          }
        })
      }
    }
  }
</script>

<style lang="scss">

</style>
