@import "./fonts";
@import "../color/variables";
@import "./variables";

body {
  color: $text-main;
  font-size: 12px;
  font-family: $font-fam;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-fam;
  margin: 0;
}

p {
  font-family: $font-fam;
  line-height: 1.5;
  font-weight: 500;
  font-size: .9em
}

h1 {
  font-size: 9.375vw;
  font-weight: bold;
  line-height: .9;

  @media (min-width: 640px) {
    font-size: 4.86111vw
  }

  @media (min-width: 991px) {
    font-size: 4.16667vw;
    line-height: 1.2;
  }

  @media (min-width: 1440px) {
    font-size: 4.16667vw
  }

  @media (min-width: 1600px) {
    font-size: 3.47222vw
  }

  @media (min-width: 1920px) {
    font-size: 3.125vw
  }
}

h2 {
  font-size: 7.03125vw;
  font-weight: 600;
  line-height: 1.1;

  @media (min-width: 991px) {
    font-size: 3.125vw
  }
}

h3 {
  font-size: 5.46875vw;
  font-weight: 500;
  line-height: 1.25;

  @media (min-width: 640px) {
    font-size: 3.90625vw
  }

  @media (min-width: 991px) {
    font-size: 2.43056vw
  }
}

h4 {
  font-size: 5.46875vw;
  font-weight: 600;
  line-height: 1.5;

  @media (min-width: 640px) {
    font-size: 2.34375vw
  }

  @media (min-width: 991px) {
    font-size: 1.73611vw
  }
}

h5 {
  font-size: 3.90625vw;
  font-weight: 600;
  line-height: 1.5;

  @media (min-width: 640px) {
    font-size: 2.34375vw
  }

  @media (min-width: 991px) {
    font-size: 1.25vw
  }
}

a.lnk {
  display: block;

  &:after {
    content: '';
    position: absolute;
    bottom: -3px;
    right: 0;
    height: 2px;
    width: 0;
    background: white;
    display: block;
    transition: all .3s
  }

  &:hover:after, &.router-link-active:after {
    width: 100%;
    left: 0
  }
}

.line-clamp {
  position: relative;
  min-height: 1.3em;
}

.line-clamp:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

@supports (-webkit-line-clamp: 1) {
  .line-clamp.line-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 1.4em;
    height: auto;
    overflow: hidden;
  }
}

@supports (-webkit-line-clamp: 2) {
  .line-clamp.line-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 3em;
    height: auto;
    overflow: hidden;
  }
}

@supports (-webkit-line-clamp: 3) {
  .line-clamp.line-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 4.45em;
    height: auto;
    overflow: hidden;
  }

  .line-clamp:after {
    display: none;
  }
}

@supports (-webkit-line-clamp: 4) {
  .line-clamp.line-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: 6.8em;
    height: auto;
    overflow: hidden;
  }

  .line-clamp:after {
    display: none;
  }
}
