$font-fam: "Montserrat", "Avenir", "Lato", "Nunito", sans-serif;
$font-fam-serif: "Merriweather", "Avenir", "Lato", "Nunito", sans-serif;

%serif {
  font-family: $font-fam;
}

%sans-serif {
  font-family: $font-fam-serif;
}
