nav {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 20;
  height: $nav-height;
  backface-visibility: hidden;

  @media screen and (max-width: 560px) {
    $nav-height: $nav-height-mobile;
    height: $nav-height-mobile;
  }

  .nav__inner {
    max-width: 1366px;
    width: calc(100% - #{$edge-gutter-width});
    margin: 0 auto;
    height: 100%;

    @media screen and (max-width: 500px) {
      width: 100%;
      padding-left: $gutter-pad;
      padding-right: $gutter-pad;
    }
  }
}
