<template>
  <footer>
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-2 col-sm-2">
          <div class="logo"></div>
        </div>
        <div class="col-3 col-sm-5">
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    name: "footer-block"
  }
</script>

<style lang="scss">
  @import "../assets/styles/_variables.scss";

  .logo {
    height: 30px;
    width: 100%;
    background-color: $secondary;
  }
</style>
