<template>
  <div class="l-icon">
    <div class="bg-img"></div>
  </div>
</template>

<script>
  export default {
    name: 'logo-icon'
  }
</script>

<style lang="scss">
  .l-icon {
    .bg-img {
      height: 80px;
      width: 80px;
      background-color: #00CCBC;
      background-size: cover;
      background-position: center;
      border-radius: 2px;
    }
  }
</style>
