<template>
  <div id="page-not-found">
    <div class="container">
      <h1>404 - Page not found</h1>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'PageNotFound',
    head() {
      return {
        title: this.$route.meta.title || 'Page not found - 404',
        meta: this.$route.meta.description ? [{
          vmid: 'description',
          description: this.$route.meta.description
        }] : []
      }
    }
  }
</script>

<style lang="scss">
  @import "~@/assets/styles/_variables";

  #page-not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - (#{$nav-height} - #{$footer-height}));

    h1 {
      font-size: 3.2vw;
      text-align: center;
      @media(max-width: 560px) {
        font-size: 8vw;
      }
    }
  }
</style>
